<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders List</title>
</head>
<body>
<h1>Users List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>date</th>
        <th>Buyer</th>
        <th>Seller</th>
        <th>Car ID</th>
        <th>Model</th>
        <th>Make</th>

    </tr>
    <tr th:each="order : ${orders}">
        <td><a th:text="${order.id}" th:href="@{'/orders/show/' + ${order.id}}">data.ID</a></td>
        <td th:text="${order.date}"> DATA</td>
        <td th:text="${order.buyer.userName}"> DATA</td>
        <td th:text="${order.seller.userName}">DATA</td>
        <td th:text="${order.vehicle.id}">DATA</td>
        <td th:text="${order.vehicle.model.name}">DATA</td>
        <td th:text="${order.vehicle.model.make.name}">DATA</td>
    </tr>
</table>
</body>
</html>