<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- From the LinkedIn Learning course "jQuery Essential Training" -->

<head>
    <title>Car Dealership</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}"></script>
</head>
<header>
    <ul class="horizontal">
        <li>
            <div class="searchBtnWrapper menuBtn">
                <label>
                    <input class="searchInput" id="searchInput" type="text" placeholder="Search">
                </label>
                <div>
                    <button type="button" id="searchCar" class="searchBtn">Search</button>
                </div>
            </div>
        </li>
        <li style="float:right">
            <div class="loginBtn menuBtn" id="loginBtn">
                Login
            </div>
            <div class="accountBtn menuBtn" id="accountBtn">
                Account
            </div>
        </li>
    </ul>
</header>

<body>

    <div class="pageWrapper">
        <div class="frontPageHeader"></div>
        <div class="sModal modal-login" id="login-modal" style="display: none;">
            <div class="modalStart">
                <div class="loginmodal-container">
                    <button class="closeX">x</button>
                    <h1>Login to Your Account</h1><br>
                    <form>
                        <input type="text" name="user" placeholder="Username">
                        <input type="password" name="pass" placeholder="Password">
                        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                    </form>

                    <div class="login-help">
                        <a class="registerBtn" href="registerPage.html">Register</a> - <a href="#">Forgot Password</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sModal modal-account" id="account-modal" style="display: none;">
            <div class="modalStart">
                <div class="accountModal-container">
                    <button class="closeX-account">x</button>
                    <h5 class="accountHeader">Your Account</h5>
                    <div class="accountInfo-wrapper">
                        <div class="account-wrapper">
                            <div class="smallHeader">User name:</div>
                            <div class="userName" id="user-name">Barracuda</div>
                        </div>
                        <div class="account-wrapper">
                            <div class="smallHeader">Location:</div>
                            <div class="location" id="user-location">Valby</div>
                        </div>
                        <div class="password-wrapper">
                            <div class="changePassword">Change your password</div>
                            <input type="password" name="pass" placeholder="********">
                        </div>
                        <div>
                            <button class="addCar">Add Car</button>
                        </div>
                        <div style="text-align: right;">
                            <a href="#" class="view-cars">View Cars</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="sModal modal-cars" id="car-modal" style="display: none;">
            <div class="modalStart">
                <div class="carModal-container">
                    <button class="closeX">x</button>
                    <h2 class="carHeader">Ferrari 812 Superfast 6,5 DCT 2d</h2>
                    <div class="carInfo-wrapper">
                        <div class="car-wrapper">
                            <div class="smallHeader">Car Information</div>
                            <div class="carParagraph" id="car-info">

                                <!-- TODO check this shit out -->
                                <!-- <ul th:each="user : ${users}"></ul>
                                <li th:text="${users.ID}">data.name</li> -->

                                <ul th:each="vehicle : ${vehicles}">
                                    <li th:text="${vehicle.id}">DATA</li>
                                    <li th:text="${vehicle.location.name}">DATA</li>
                                </ul>


                            </div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Location:</div>
                            <div class="carInfoInline car-location" id="car-location">Valby</div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Colour:</div>
                            <div class="carInfoInline car-colour" id="car-colour">Black</div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Fuel:</div>
                            <div class="carInfoInline car-colour" id="car-fuel">Benzin</div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Kilometers done:</div>
                            <div class="carInfoInline car-kms" id="car-kms">2.000</div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Horsepower:</div>
                            <div class="carInfoInline car-hp" id="car-kms">750Hp/800NM</div>
                        </div>
                        <div class="car-wrapper">
                            <div class="smallHeader">Price:</div>
                            <div class="carInfoInline car-price" id="car-price">2.013.454 kr.</div>
                        </div>
                        <div>
                            <button class="buyCar">Buy Car</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="searchWrapper">
            <div class="row listing">
                <div class="col-xs-2">


                    <div style="position: relative; overflow: hidden;">
                        <img style="z-index: 1;"
                            src="https://media-download.ecgh.dk/images/bTwAAOSwvL1fahSe/S157X111/picture.jpg"
                            data-echo="https://media-download.ecgh.dk/images/bTwAAOSwvL1fahSe/S157X111/picture.jpg"
                            alt="Citroën C3 1,2 PT 82 Feel+ 5d" class="img-thumbnail listing-thumbs-lg">

                    </div>

                </div>
                <div class="col-xs-4">

                    <div class="row">
                        <a class="listing-heading darkLink">Citroën
                            C3
                            1,2
                            PT 82 Feel+ 5d</a>
                    </div>
                    <div class="row">

                        <div class="revealLink clearfix"
                            style="background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%);">
                            <div class="btn linkText showCarInfo" style="background-color: rgb(255, 255, 255);">...More
                                info
                            </div>
                            <div class="arrow"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-2 listing-data " id="kmsDone">55.000</div>
                        <div class="col-xs-2 listing-region" id="location">Valby</div>
                   
                    </div>
                    <div class="searchPrice">

                        <div class="listing-price searchPrice" id="price">99.900 kr.</div>

                    </div>

                </div>
            </div>




            <div class="row listing">
                <div class="col-xs-2">


                    <div style="position: relative; overflow: hidden;">
                        <img style="z-index: 1;"
                            src="https://media-download.ecgh.dk/images/VoYAAOSwF5Ne2Nw9/S157X111/picture.jpg"
                            data-echo="https://media-download.ecgh.dk/images/VoYAAOSwF5Ne2Nw9/S157X111/picture.jpg"
                            alt="Ferrari 812 Superfast 6,5 DCT 2d" class="img-thumbnail listing-thumbs-lg">

                    </div>

                </div>
                <div class="col-xs-4">

                    <div class="row">
                        <a class="listing-heading darkLink">Ferrari
                            812
                            Superfast 6,5 DCT 2d</a>
                    </div>


                    <div class="revealLink clearfix"
                        style="background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 30%);">
                        <div class="btn linkText showCarInfo" style="background-color: rgb(255, 255, 255);">...More info
                        </div>
                        <div class="arrow"></div>
                    </div>


                </div>
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-2 listing-data " id="kmsDone">2.000</div>
                        <div class="col-xs-2 listing-region" id="location">Valby</div>
                   
                    </div>
                    <div class=" searchPrice">

                        <div class="listing-price searchPrice" id="price">2.013.454 kr.</div>

                    </div>

                </div>
               
            </div>
        </div>
    </div>
</body>
<footer>
    @DatabaseProject CarDealerShip
</footer>
</html>